body {
    padding: 5%;
    background: #222222;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

i { color: #bbbbbb; }


.box {
    background:#000000;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.button {
    background: #666666;
    padding: 10px;
    border-radius: 5px;
}

.disabledbutton {
    background: #111111;
    color: #999999;
    padding: 10px;
    border-radius: 5px;
}

.error { color: #ff6666; }
.success { color: #66ff66; }

pre, .navbar { text-align: left; }
